.banner {
  
  position: relative;
  background: #000 url("https://images.pexels.com/photos/2904142/pexels-photo-2904142.jpeg?cs=srgb&dl=pexels-jeffrey-czum-2904142.jpg&fm=jpg");
  background-size: cover;
  background-position: bottom right;
  width: 95vw;
  color: #fff;
  height: 60vh;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50px !important;

  font-family: "Open Sans", sans-serif;
} 

.banner__info {
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
}


.banner__info > h5 {
    margin-top: 10px;
}