.booked {
  margin: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition-property:none;
  cursor: default;
  color: black;
  text-decoration: none;
  border-radius: 0 !important;
  text-align: center;
  font-family: 'Open Sans', serif;
}

.booked:hover {
  transform: none;
    text-decoration: none;
}