.card {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;
  color: black;
  text-decoration: none;
  border-radius: 3rem 3rem 0 0 !important;
  text-align: center;
  font-family: 'Playfair Display', serif;
}


.description {
  font-family: 'Open Sans', serif;
  font-style:italic;
  color: #4A525A;
  font-size: 1.5rem;
}

.card-title {
  font-family: 'Playfair Display', serif;

}

.card:hover {
  transform: scale(1.02);
    text-decoration: none;
}

.card > img {
  object-fit: fill;
  min-width: 300px;
  min-height: 200px;
  width: 100%;
}

.card__info {
  font-family: 'Open Sans', serif;
    margin-top: -9px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
    border: 1;
  }

.card__info > h2 {
  font-size: 18px;
  font-weight: 600;
  }
  
.card__info > h4 {
   font-size: 20px;
   font-weight: 300;
   margin-top: 8px;
   margin-bottom: 8px;
  }

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}

hr.hr-text:before{
    content: '';

    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }

hr.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
  }

