.register{
	background: url("https://images.pexels.com/photos/2212570/pexels-photo-2212570.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}