.no-rentals {
	text-align: center;
	padding: 30vh;
	color: grey;
}

.rentals {
	margin-bottom: 30vh;
}

.title>h3  {
	margin-left:auto;
	margin-right:auto;

}

.user {
	padding: 30px;
	margin-bottom: 10px;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}

hr.hr-text:before{
    content: '';

    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }

hr.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
  }