.head {
	 margin: 10px;
	  overflow: hidden;
	  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
	  color: black;
	  text-decoration: none;
	  text-align: center;
	  font-family: 'Playfair Display', serif;
}

.head > h4 {
	height: 3rem;
	text-align: center;
}
.head > img {
  object-fit: fill;
  min-width: 300px;
  min-height: 200px;
  width: 100%;
}

.details {
	font-family: 'Playfair Display', serif;
 	font-size: 1.5rem;
 	text-align: center;
}

.details > h5{
	font-family: 'Open Sans', serif;
	font-size: 1rem;
}

.description {
	padding: 30px;
}